
body{
    font-family: cursive;
    
    background-color: #f1f9f6;
    
} 
.container{
    margin: 0 auto;
    width: 90%;
    
} 
p{
    font-weight: 100;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}
.columna{
    background-color: rgb(215, 220, 221);
    margin: 10px;
    padding: 10px;
    border-radius: 33px;
    box-shadow: 10px 10px 10px rgb(81, 70, 180);
    width: 23%;
    box-sizing: border-box;
}

.btn{
    display: block;
    text-decoration: none;
    background-color: midnightblue;
    padding: 10px;
    width: 50%;
    margin: auto;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.btn:hover{
    background-color: rgb(29, 29, 68);
}

img{ 
    /* 
    Esto es paraquitarle el fondo a la imagen
    filter: brightness(1.1);
    mix-blend-mode: multiply; */
    width: 180px;
}

.sepa{
    justify-content: space-around;
}
.tipo-S{
    border-left: black solid 3px;
    background-color: rgb(153, 149, 149);
}
.tipo-V{
    border-left: 3px solid rgb(29, 92, 209);
    background-color:rgb(167, 184, 230);
}
.tipo-N{
    border-left: 3px solid rgb(129, 33, 113);
    background-color: rgb(243, 152, 228);
}

.tipo-P{
    margin-left: 30px;
    border-left: yellow solid 3px;
    background-color: rgb(221, 221, 162);
}
.tipo-F{
    border-left: 3px solid red;
    background-color: rgb(243, 114, 114);
}
.text{
    text-align: justify;
}

/*Mediaquery*/
@media (max-width: 1070px) {
    .columna{
        width: 45%;
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .columna{
        width: 100%;
        margin-bottom: 30px;
    }
}